GENUNISOLUTION/GENUNI/App_WebReferences/CRYPTA/Crypta-WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CRYPTA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PLAINTEXT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CRYPTAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CRYPTAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CRYPTASoapIn">
    <wsdl:part name="parameters" element="tns:CRYPTA" />
  </wsdl:message>
  <wsdl:message name="CRYPTASoapOut">
    <wsdl:part name="parameters" element="tns:CRYPTAResponse" />
  </wsdl:message>
  <wsdl:portType name="Crypta_WSSoap">
    <wsdl:operation name="CRYPTA">
      <wsdl:input message="tns:CRYPTASoapIn" />
      <wsdl:output message="tns:CRYPTASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Crypta_WSSoap" type="tns:Crypta_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CRYPTA">
      <soap:operation soapAction="http://tempuri.org/CRYPTA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Crypta_WSSoap12" type="tns:Crypta_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CRYPTA">
      <soap12:operation soapAction="http://tempuri.org/CRYPTA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Crypta_WS">
    <wsdl:port name="Crypta_WSSoap" binding="tns:Crypta_WSSoap">
      <soap:address location="http://localhost:58260/Crypta-WS.asmx" />
    </wsdl:port>
    <wsdl:port name="Crypta_WSSoap12" binding="tns:Crypta_WSSoap12">
      <soap12:address location="http://localhost:58260/Crypta-WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>