GENUNISOLUTION/GENUNI/App_WebReferences/CORSI/Corsi-WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AVATAR_CORSO" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="DATA_PARTENZA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPO_IMG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AVATAR_CORSO" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="DATA_PARTENZA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPOIMG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectAll">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectOneResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectNonAssegnati">
        <s:complexType />
      </s:element>
      <s:element name="SelectNonAssegnatiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectNonAssegnatiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestRisultato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVECORSO" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVETEST" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVESTUDENTE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestRisultatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestRisultatoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE_CORSO" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE_TUTOR" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTutorResponse">
        <s:complexType />
      </s:element>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllDocenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE_DOCENTE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE_CORSO" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllDocentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllDocentiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateForTutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE_TUTOR" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AVATAR_CORSO" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPO_IMG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATA_PARTENZA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateForTutorResponse">
        <s:complexType />
      </s:element>
      <s:element name="Utenti_SelectAll">
        <s:complexType />
      </s:element>
      <s:element name="Utenti_SelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Utenti_SelectAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectByStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="COD_DOCENTE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ATTIVI" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectByStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectByStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Corsi_SelectApprovati">
        <s:complexType />
      </s:element>
      <s:element name="Corsi_SelectApprovatiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Corsi_SelectApprovatiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SituazioneStudenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="COD_CORSO" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SituazioneStudentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SituazioneStudentiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Corsi_SelectNonApprovati">
        <s:complexType />
      </s:element>
      <s:element name="Corsi_SelectNonApprovatiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Corsi_SelectNonApprovatiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check_Tutor_Abilitato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE_UTENTE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check_Tutor_AbilitatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Check_Tutor_AbilitatoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Corsi_SelectAllClassi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CODICE_CORSO" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Corsi_SelectAllClassiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Corsi_SelectAllClassiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectForTutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="COD_TUTOR" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectForTutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectForTutorResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Select_Utenti_Filtro_Q">
        <s:complexType />
      </s:element>
      <s:element name="Select_Utenti_Filtro_QResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Select_Utenti_Filtro_QResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Status">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE_CORSO" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_StatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="Utenti_SelectOne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Utenti_SelectOneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Utenti_SelectOneResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllPreparati">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllPreparatiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllPreparatiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CorsiQuotazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="COD_CORSO" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="COSTO" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CorsiQuotazioneResponse">
        <s:complexType />
      </s:element>
      <s:element name="NonComprati">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="COD_STUDENTE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NonCompratiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NonCompratiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="SelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="SelectOneSoapIn">
    <wsdl:part name="parameters" element="tns:SelectOne" />
  </wsdl:message>
  <wsdl:message name="SelectOneSoapOut">
    <wsdl:part name="parameters" element="tns:SelectOneResponse" />
  </wsdl:message>
  <wsdl:message name="InfoSoapIn">
    <wsdl:part name="parameters" element="tns:Info" />
  </wsdl:message>
  <wsdl:message name="InfoSoapOut">
    <wsdl:part name="parameters" element="tns:InfoResponse" />
  </wsdl:message>
  <wsdl:message name="SelectNonAssegnatiSoapIn">
    <wsdl:part name="parameters" element="tns:SelectNonAssegnati" />
  </wsdl:message>
  <wsdl:message name="SelectNonAssegnatiSoapOut">
    <wsdl:part name="parameters" element="tns:SelectNonAssegnatiResponse" />
  </wsdl:message>
  <wsdl:message name="TestRisultatoSoapIn">
    <wsdl:part name="parameters" element="tns:TestRisultato" />
  </wsdl:message>
  <wsdl:message name="TestRisultatoSoapOut">
    <wsdl:part name="parameters" element="tns:TestRisultatoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTutorSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTutor" />
  </wsdl:message>
  <wsdl:message name="UpdateTutorSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTutorResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllDocentiSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllDocenti" />
  </wsdl:message>
  <wsdl:message name="SelectAllDocentiSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllDocentiResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateForTutorSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateForTutor" />
  </wsdl:message>
  <wsdl:message name="UpdateForTutorSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateForTutorResponse" />
  </wsdl:message>
  <wsdl:message name="Utenti_SelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:Utenti_SelectAll" />
  </wsdl:message>
  <wsdl:message name="Utenti_SelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:Utenti_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="SelectByStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SelectByStatus" />
  </wsdl:message>
  <wsdl:message name="SelectByStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SelectByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="Corsi_SelectApprovatiSoapIn">
    <wsdl:part name="parameters" element="tns:Corsi_SelectApprovati" />
  </wsdl:message>
  <wsdl:message name="Corsi_SelectApprovatiSoapOut">
    <wsdl:part name="parameters" element="tns:Corsi_SelectApprovatiResponse" />
  </wsdl:message>
  <wsdl:message name="SituazioneStudentiSoapIn">
    <wsdl:part name="parameters" element="tns:SituazioneStudenti" />
  </wsdl:message>
  <wsdl:message name="SituazioneStudentiSoapOut">
    <wsdl:part name="parameters" element="tns:SituazioneStudentiResponse" />
  </wsdl:message>
  <wsdl:message name="Corsi_SelectNonApprovatiSoapIn">
    <wsdl:part name="parameters" element="tns:Corsi_SelectNonApprovati" />
  </wsdl:message>
  <wsdl:message name="Corsi_SelectNonApprovatiSoapOut">
    <wsdl:part name="parameters" element="tns:Corsi_SelectNonApprovatiResponse" />
  </wsdl:message>
  <wsdl:message name="Check_Tutor_AbilitatoSoapIn">
    <wsdl:part name="parameters" element="tns:Check_Tutor_Abilitato" />
  </wsdl:message>
  <wsdl:message name="Check_Tutor_AbilitatoSoapOut">
    <wsdl:part name="parameters" element="tns:Check_Tutor_AbilitatoResponse" />
  </wsdl:message>
  <wsdl:message name="Corsi_SelectAllClassiSoapIn">
    <wsdl:part name="parameters" element="tns:Corsi_SelectAllClassi" />
  </wsdl:message>
  <wsdl:message name="Corsi_SelectAllClassiSoapOut">
    <wsdl:part name="parameters" element="tns:Corsi_SelectAllClassiResponse" />
  </wsdl:message>
  <wsdl:message name="SelectForTutorSoapIn">
    <wsdl:part name="parameters" element="tns:SelectForTutor" />
  </wsdl:message>
  <wsdl:message name="SelectForTutorSoapOut">
    <wsdl:part name="parameters" element="tns:SelectForTutorResponse" />
  </wsdl:message>
  <wsdl:message name="Select_Utenti_Filtro_QSoapIn">
    <wsdl:part name="parameters" element="tns:Select_Utenti_Filtro_Q" />
  </wsdl:message>
  <wsdl:message name="Select_Utenti_Filtro_QSoapOut">
    <wsdl:part name="parameters" element="tns:Select_Utenti_Filtro_QResponse" />
  </wsdl:message>
  <wsdl:message name="Update_StatusSoapIn">
    <wsdl:part name="parameters" element="tns:Update_Status" />
  </wsdl:message>
  <wsdl:message name="Update_StatusSoapOut">
    <wsdl:part name="parameters" element="tns:Update_StatusResponse" />
  </wsdl:message>
  <wsdl:message name="Utenti_SelectOneSoapIn">
    <wsdl:part name="parameters" element="tns:Utenti_SelectOne" />
  </wsdl:message>
  <wsdl:message name="Utenti_SelectOneSoapOut">
    <wsdl:part name="parameters" element="tns:Utenti_SelectOneResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllPreparatiSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllPreparati" />
  </wsdl:message>
  <wsdl:message name="SelectAllPreparatiSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllPreparatiResponse" />
  </wsdl:message>
  <wsdl:message name="CorsiQuotazioneSoapIn">
    <wsdl:part name="parameters" element="tns:CorsiQuotazione" />
  </wsdl:message>
  <wsdl:message name="CorsiQuotazioneSoapOut">
    <wsdl:part name="parameters" element="tns:CorsiQuotazioneResponse" />
  </wsdl:message>
  <wsdl:message name="NonCompratiSoapIn">
    <wsdl:part name="parameters" element="tns:NonComprati" />
  </wsdl:message>
  <wsdl:message name="NonCompratiSoapOut">
    <wsdl:part name="parameters" element="tns:NonCompratiResponse" />
  </wsdl:message>
  <wsdl:portType name="Corsi_WSSoap">
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input message="tns:SelectAllSoapIn" />
      <wsdl:output message="tns:SelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectOne">
      <wsdl:input message="tns:SelectOneSoapIn" />
      <wsdl:output message="tns:SelectOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Info">
      <wsdl:input message="tns:InfoSoapIn" />
      <wsdl:output message="tns:InfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectNonAssegnati">
      <wsdl:input message="tns:SelectNonAssegnatiSoapIn" />
      <wsdl:output message="tns:SelectNonAssegnatiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestRisultato">
      <wsdl:input message="tns:TestRisultatoSoapIn" />
      <wsdl:output message="tns:TestRisultatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTutor">
      <wsdl:input message="tns:UpdateTutorSoapIn" />
      <wsdl:output message="tns:UpdateTutorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllDocenti">
      <wsdl:input message="tns:SelectAllDocentiSoapIn" />
      <wsdl:output message="tns:SelectAllDocentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateForTutor">
      <wsdl:input message="tns:UpdateForTutorSoapIn" />
      <wsdl:output message="tns:UpdateForTutorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Utenti_SelectAll">
      <wsdl:input message="tns:Utenti_SelectAllSoapIn" />
      <wsdl:output message="tns:Utenti_SelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectByStatus">
      <wsdl:input message="tns:SelectByStatusSoapIn" />
      <wsdl:output message="tns:SelectByStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Corsi_SelectApprovati">
      <wsdl:input message="tns:Corsi_SelectApprovatiSoapIn" />
      <wsdl:output message="tns:Corsi_SelectApprovatiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SituazioneStudenti">
      <wsdl:input message="tns:SituazioneStudentiSoapIn" />
      <wsdl:output message="tns:SituazioneStudentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Corsi_SelectNonApprovati">
      <wsdl:input message="tns:Corsi_SelectNonApprovatiSoapIn" />
      <wsdl:output message="tns:Corsi_SelectNonApprovatiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Check_Tutor_Abilitato">
      <wsdl:input message="tns:Check_Tutor_AbilitatoSoapIn" />
      <wsdl:output message="tns:Check_Tutor_AbilitatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Corsi_SelectAllClassi">
      <wsdl:input message="tns:Corsi_SelectAllClassiSoapIn" />
      <wsdl:output message="tns:Corsi_SelectAllClassiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectForTutor">
      <wsdl:input message="tns:SelectForTutorSoapIn" />
      <wsdl:output message="tns:SelectForTutorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Select_Utenti_Filtro_Q">
      <wsdl:input message="tns:Select_Utenti_Filtro_QSoapIn" />
      <wsdl:output message="tns:Select_Utenti_Filtro_QSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Status">
      <wsdl:input message="tns:Update_StatusSoapIn" />
      <wsdl:output message="tns:Update_StatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Utenti_SelectOne">
      <wsdl:input message="tns:Utenti_SelectOneSoapIn" />
      <wsdl:output message="tns:Utenti_SelectOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllPreparati">
      <wsdl:input message="tns:SelectAllPreparatiSoapIn" />
      <wsdl:output message="tns:SelectAllPreparatiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CorsiQuotazione">
      <wsdl:input message="tns:CorsiQuotazioneSoapIn" />
      <wsdl:output message="tns:CorsiQuotazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NonComprati">
      <wsdl:input message="tns:NonCompratiSoapIn" />
      <wsdl:output message="tns:NonCompratiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Corsi_WSSoap" type="tns:Corsi_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOne">
      <soap:operation soapAction="http://tempuri.org/SelectOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Info">
      <soap:operation soapAction="http://tempuri.org/Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectNonAssegnati">
      <soap:operation soapAction="http://tempuri.org/SelectNonAssegnati" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRisultato">
      <soap:operation soapAction="http://tempuri.org/TestRisultato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTutor">
      <soap:operation soapAction="http://tempuri.org/UpdateTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllDocenti">
      <soap:operation soapAction="http://tempuri.org/SelectAllDocenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForTutor">
      <soap:operation soapAction="http://tempuri.org/UpdateForTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Utenti_SelectAll">
      <soap:operation soapAction="http://tempuri.org/Utenti_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByStatus">
      <soap:operation soapAction="http://tempuri.org/SelectByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Corsi_SelectApprovati">
      <soap:operation soapAction="http://tempuri.org/Corsi_SelectApprovati" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SituazioneStudenti">
      <soap:operation soapAction="http://tempuri.org/SituazioneStudenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Corsi_SelectNonApprovati">
      <soap:operation soapAction="http://tempuri.org/Corsi_SelectNonApprovati" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_Tutor_Abilitato">
      <soap:operation soapAction="http://tempuri.org/Check_Tutor_Abilitato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Corsi_SelectAllClassi">
      <soap:operation soapAction="http://tempuri.org/Corsi_SelectAllClassi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectForTutor">
      <soap:operation soapAction="http://tempuri.org/SelectForTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_Utenti_Filtro_Q">
      <soap:operation soapAction="http://tempuri.org/Select_Utenti_Filtro_Q" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Status">
      <soap:operation soapAction="http://tempuri.org/Update_Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Utenti_SelectOne">
      <soap:operation soapAction="http://tempuri.org/Utenti_SelectOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllPreparati">
      <soap:operation soapAction="http://tempuri.org/SelectAllPreparati" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorsiQuotazione">
      <soap:operation soapAction="http://tempuri.org/CorsiQuotazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NonComprati">
      <soap:operation soapAction="http://tempuri.org/NonComprati" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Corsi_WSSoap12" type="tns:Corsi_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap12:operation soapAction="http://tempuri.org/SelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOne">
      <soap12:operation soapAction="http://tempuri.org/SelectOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Info">
      <soap12:operation soapAction="http://tempuri.org/Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectNonAssegnati">
      <soap12:operation soapAction="http://tempuri.org/SelectNonAssegnati" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRisultato">
      <soap12:operation soapAction="http://tempuri.org/TestRisultato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTutor">
      <soap12:operation soapAction="http://tempuri.org/UpdateTutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllDocenti">
      <soap12:operation soapAction="http://tempuri.org/SelectAllDocenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForTutor">
      <soap12:operation soapAction="http://tempuri.org/UpdateForTutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Utenti_SelectAll">
      <soap12:operation soapAction="http://tempuri.org/Utenti_SelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByStatus">
      <soap12:operation soapAction="http://tempuri.org/SelectByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Corsi_SelectApprovati">
      <soap12:operation soapAction="http://tempuri.org/Corsi_SelectApprovati" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SituazioneStudenti">
      <soap12:operation soapAction="http://tempuri.org/SituazioneStudenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Corsi_SelectNonApprovati">
      <soap12:operation soapAction="http://tempuri.org/Corsi_SelectNonApprovati" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_Tutor_Abilitato">
      <soap12:operation soapAction="http://tempuri.org/Check_Tutor_Abilitato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Corsi_SelectAllClassi">
      <soap12:operation soapAction="http://tempuri.org/Corsi_SelectAllClassi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectForTutor">
      <soap12:operation soapAction="http://tempuri.org/SelectForTutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_Utenti_Filtro_Q">
      <soap12:operation soapAction="http://tempuri.org/Select_Utenti_Filtro_Q" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Status">
      <soap12:operation soapAction="http://tempuri.org/Update_Status" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Utenti_SelectOne">
      <soap12:operation soapAction="http://tempuri.org/Utenti_SelectOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllPreparati">
      <soap12:operation soapAction="http://tempuri.org/SelectAllPreparati" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorsiQuotazione">
      <soap12:operation soapAction="http://tempuri.org/CorsiQuotazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NonComprati">
      <soap12:operation soapAction="http://tempuri.org/NonComprati" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Corsi_WS">
    <wsdl:port name="Corsi_WSSoap" binding="tns:Corsi_WSSoap">
      <soap:address location="http://localhost:58260/Corsi-WS.asmx" />
    </wsdl:port>
    <wsdl:port name="Corsi_WSSoap12" binding="tns:Corsi_WSSoap12">
      <soap12:address location="http://localhost:58260/Corsi-WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>