GENUNISOLUTION/GENUNI/App_WebReferences/ESTERNI/Esterni-WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelectAll">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectOneResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOne_Profilo_Studenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOne_Profilo_StudentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectOne_Profilo_StudentiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RAGIONE_SOCIALE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COGNOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATA_NASCITA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIVA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="INDIRIZZO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CAP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITTA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PROVINCIA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAZIONALITA" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ABILITATO" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="AVATAR" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPOIMG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RAGIONE_SOCIALE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COGNOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATA_NASCITA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIVA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="INDIRIZZO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CAP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITTA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PROVINCIA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAZIONALITA" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ABILITATO" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="AVATAR" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPOIMG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckOne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RAGIONE_SOCIALE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COGNOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NOME" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckOneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ControlloDuplice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ControlloDupliceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ControlloDupliceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbilitaEsterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbilitaEsternoResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="TipoLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TipoLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TipoLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNome">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNomeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNomeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAvatar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AVATAR" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPOIMG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAvatarResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateProfilo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RAGIONE_SOCIALE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COGNOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATA_NASCITA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIVA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="INDIRIZZO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CAP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITTA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PROVINCIA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAZIONALITA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProfiloResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="InfoCorso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InfoCorsoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InfoCorsoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InfoDocente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InfoDocenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InfoDocenteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CorsiFrequentati">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CorsiFrequentatiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorsiFrequentatiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registrato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistratoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistratoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ESTERNI_DOCENTI_InfoCodice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="COD_DOCENTE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ESTERNI_DOCENTI_InfoCodiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ESTERNI_DOCENTI_InfoCodiceResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperaCodEsterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperaCodEsternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecuperaCodEsternoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Guadagni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="COD_DOCENTE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuadagniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuadagniResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCompetenze">
        <s:complexType />
      </s:element>
      <s:element name="SelectCompetenzeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCompetenzeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Controlla_Abilitazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="COD_UTENTE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Controlla_AbilitazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Controlla_AbilitazioneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Profilo_Studenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COGNOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITTA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="INDIRIZZO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PROVINCIA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAZIONALITA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Profilo_StudentiResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectAll_Docenti">
        <s:complexType />
      </s:element>
      <s:element name="SelectAll_DocentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAll_DocentiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePassword_Studenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePassword_StudentiResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectForSkills">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SKILLS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectForSkillsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectForSkillsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAll_Studenti">
        <s:complexType />
      </s:element>
      <s:element name="SelectAll_StudentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAll_StudentiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="SelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="SelectOneSoapIn">
    <wsdl:part name="parameters" element="tns:SelectOne" />
  </wsdl:message>
  <wsdl:message name="SelectOneSoapOut">
    <wsdl:part name="parameters" element="tns:SelectOneResponse" />
  </wsdl:message>
  <wsdl:message name="SelectOne_Profilo_StudentiSoapIn">
    <wsdl:part name="parameters" element="tns:SelectOne_Profilo_Studenti" />
  </wsdl:message>
  <wsdl:message name="SelectOne_Profilo_StudentiSoapOut">
    <wsdl:part name="parameters" element="tns:SelectOne_Profilo_StudentiResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CheckOneSoapIn">
    <wsdl:part name="parameters" element="tns:CheckOne" />
  </wsdl:message>
  <wsdl:message name="CheckOneSoapOut">
    <wsdl:part name="parameters" element="tns:CheckOneResponse" />
  </wsdl:message>
  <wsdl:message name="ControlloDupliceSoapIn">
    <wsdl:part name="parameters" element="tns:ControlloDuplice" />
  </wsdl:message>
  <wsdl:message name="ControlloDupliceSoapOut">
    <wsdl:part name="parameters" element="tns:ControlloDupliceResponse" />
  </wsdl:message>
  <wsdl:message name="AbilitaEsternoSoapIn">
    <wsdl:part name="parameters" element="tns:AbilitaEsterno" />
  </wsdl:message>
  <wsdl:message name="AbilitaEsternoSoapOut">
    <wsdl:part name="parameters" element="tns:AbilitaEsternoResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="TipoLoginSoapIn">
    <wsdl:part name="parameters" element="tns:TipoLogin" />
  </wsdl:message>
  <wsdl:message name="TipoLoginSoapOut">
    <wsdl:part name="parameters" element="tns:TipoLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetNomeSoapIn">
    <wsdl:part name="parameters" element="tns:GetNome" />
  </wsdl:message>
  <wsdl:message name="GetNomeSoapOut">
    <wsdl:part name="parameters" element="tns:GetNomeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAvatarSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAvatar" />
  </wsdl:message>
  <wsdl:message name="UpdateAvatarSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProfiloSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProfilo" />
  </wsdl:message>
  <wsdl:message name="UpdateProfiloSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProfiloResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="InfoCorsoSoapIn">
    <wsdl:part name="parameters" element="tns:InfoCorso" />
  </wsdl:message>
  <wsdl:message name="InfoCorsoSoapOut">
    <wsdl:part name="parameters" element="tns:InfoCorsoResponse" />
  </wsdl:message>
  <wsdl:message name="InfoDocenteSoapIn">
    <wsdl:part name="parameters" element="tns:InfoDocente" />
  </wsdl:message>
  <wsdl:message name="InfoDocenteSoapOut">
    <wsdl:part name="parameters" element="tns:InfoDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="CorsiFrequentatiSoapIn">
    <wsdl:part name="parameters" element="tns:CorsiFrequentati" />
  </wsdl:message>
  <wsdl:message name="CorsiFrequentatiSoapOut">
    <wsdl:part name="parameters" element="tns:CorsiFrequentatiResponse" />
  </wsdl:message>
  <wsdl:message name="RegistratoSoapIn">
    <wsdl:part name="parameters" element="tns:Registrato" />
  </wsdl:message>
  <wsdl:message name="RegistratoSoapOut">
    <wsdl:part name="parameters" element="tns:RegistratoResponse" />
  </wsdl:message>
  <wsdl:message name="ESTERNI_DOCENTI_InfoCodiceSoapIn">
    <wsdl:part name="parameters" element="tns:ESTERNI_DOCENTI_InfoCodice" />
  </wsdl:message>
  <wsdl:message name="ESTERNI_DOCENTI_InfoCodiceSoapOut">
    <wsdl:part name="parameters" element="tns:ESTERNI_DOCENTI_InfoCodiceResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperaCodEsternoSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperaCodEsterno" />
  </wsdl:message>
  <wsdl:message name="RecuperaCodEsternoSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperaCodEsternoResponse" />
  </wsdl:message>
  <wsdl:message name="GuadagniSoapIn">
    <wsdl:part name="parameters" element="tns:Guadagni" />
  </wsdl:message>
  <wsdl:message name="GuadagniSoapOut">
    <wsdl:part name="parameters" element="tns:GuadagniResponse" />
  </wsdl:message>
  <wsdl:message name="SelectCompetenzeSoapIn">
    <wsdl:part name="parameters" element="tns:SelectCompetenze" />
  </wsdl:message>
  <wsdl:message name="SelectCompetenzeSoapOut">
    <wsdl:part name="parameters" element="tns:SelectCompetenzeResponse" />
  </wsdl:message>
  <wsdl:message name="Controlla_AbilitazioneSoapIn">
    <wsdl:part name="parameters" element="tns:Controlla_Abilitazione" />
  </wsdl:message>
  <wsdl:message name="Controlla_AbilitazioneSoapOut">
    <wsdl:part name="parameters" element="tns:Controlla_AbilitazioneResponse" />
  </wsdl:message>
  <wsdl:message name="Update_Profilo_StudentiSoapIn">
    <wsdl:part name="parameters" element="tns:Update_Profilo_Studenti" />
  </wsdl:message>
  <wsdl:message name="Update_Profilo_StudentiSoapOut">
    <wsdl:part name="parameters" element="tns:Update_Profilo_StudentiResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAll_DocentiSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAll_Docenti" />
  </wsdl:message>
  <wsdl:message name="SelectAll_DocentiSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAll_DocentiResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePassword_StudentiSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePassword_Studenti" />
  </wsdl:message>
  <wsdl:message name="UpdatePassword_StudentiSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePassword_StudentiResponse" />
  </wsdl:message>
  <wsdl:message name="SelectForSkillsSoapIn">
    <wsdl:part name="parameters" element="tns:SelectForSkills" />
  </wsdl:message>
  <wsdl:message name="SelectForSkillsSoapOut">
    <wsdl:part name="parameters" element="tns:SelectForSkillsResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAll_StudentiSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAll_Studenti" />
  </wsdl:message>
  <wsdl:message name="SelectAll_StudentiSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAll_StudentiResponse" />
  </wsdl:message>
  <wsdl:portType name="Esterni_WSSoap">
    <wsdl:operation name="SelectAll">
      <wsdl:input message="tns:SelectAllSoapIn" />
      <wsdl:output message="tns:SelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectOne">
      <wsdl:input message="tns:SelectOneSoapIn" />
      <wsdl:output message="tns:SelectOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectOne_Profilo_Studenti">
      <wsdl:input message="tns:SelectOne_Profilo_StudentiSoapIn" />
      <wsdl:output message="tns:SelectOne_Profilo_StudentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckOne">
      <wsdl:input message="tns:CheckOneSoapIn" />
      <wsdl:output message="tns:CheckOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ControlloDuplice">
      <wsdl:input message="tns:ControlloDupliceSoapIn" />
      <wsdl:output message="tns:ControlloDupliceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AbilitaEsterno">
      <wsdl:input message="tns:AbilitaEsternoSoapIn" />
      <wsdl:output message="tns:AbilitaEsternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TipoLogin">
      <wsdl:input message="tns:TipoLoginSoapIn" />
      <wsdl:output message="tns:TipoLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNome">
      <wsdl:input message="tns:GetNomeSoapIn" />
      <wsdl:output message="tns:GetNomeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAvatar">
      <wsdl:input message="tns:UpdateAvatarSoapIn" />
      <wsdl:output message="tns:UpdateAvatarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilo">
      <wsdl:input message="tns:UpdateProfiloSoapIn" />
      <wsdl:output message="tns:UpdateProfiloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input message="tns:UpdatePasswordSoapIn" />
      <wsdl:output message="tns:UpdatePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InfoCorso">
      <wsdl:input message="tns:InfoCorsoSoapIn" />
      <wsdl:output message="tns:InfoCorsoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InfoDocente">
      <wsdl:input message="tns:InfoDocenteSoapIn" />
      <wsdl:output message="tns:InfoDocenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CorsiFrequentati">
      <wsdl:input message="tns:CorsiFrequentatiSoapIn" />
      <wsdl:output message="tns:CorsiFrequentatiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Registrato">
      <wsdl:input message="tns:RegistratoSoapIn" />
      <wsdl:output message="tns:RegistratoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ESTERNI_DOCENTI_InfoCodice">
      <wsdl:input message="tns:ESTERNI_DOCENTI_InfoCodiceSoapIn" />
      <wsdl:output message="tns:ESTERNI_DOCENTI_InfoCodiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaCodEsterno">
      <wsdl:input message="tns:RecuperaCodEsternoSoapIn" />
      <wsdl:output message="tns:RecuperaCodEsternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Guadagni">
      <wsdl:input message="tns:GuadagniSoapIn" />
      <wsdl:output message="tns:GuadagniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectCompetenze">
      <wsdl:input message="tns:SelectCompetenzeSoapIn" />
      <wsdl:output message="tns:SelectCompetenzeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Controlla_Abilitazione">
      <wsdl:input message="tns:Controlla_AbilitazioneSoapIn" />
      <wsdl:output message="tns:Controlla_AbilitazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Profilo_Studenti">
      <wsdl:input message="tns:Update_Profilo_StudentiSoapIn" />
      <wsdl:output message="tns:Update_Profilo_StudentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll_Docenti">
      <wsdl:input message="tns:SelectAll_DocentiSoapIn" />
      <wsdl:output message="tns:SelectAll_DocentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword_Studenti">
      <wsdl:input message="tns:UpdatePassword_StudentiSoapIn" />
      <wsdl:output message="tns:UpdatePassword_StudentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectForSkills">
      <wsdl:input message="tns:SelectForSkillsSoapIn" />
      <wsdl:output message="tns:SelectForSkillsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll_Studenti">
      <wsdl:input message="tns:SelectAll_StudentiSoapIn" />
      <wsdl:output message="tns:SelectAll_StudentiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Esterni_WSSoap" type="tns:Esterni_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOne">
      <soap:operation soapAction="http://tempuri.org/SelectOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOne_Profilo_Studenti">
      <soap:operation soapAction="http://tempuri.org/SelectOne_Profilo_Studenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOne">
      <soap:operation soapAction="http://tempuri.org/CheckOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ControlloDuplice">
      <soap:operation soapAction="http://tempuri.org/ControlloDuplice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbilitaEsterno">
      <soap:operation soapAction="http://tempuri.org/AbilitaEsterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TipoLogin">
      <soap:operation soapAction="http://tempuri.org/TipoLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNome">
      <soap:operation soapAction="http://tempuri.org/GetNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAvatar">
      <soap:operation soapAction="http://tempuri.org/UpdateAvatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilo">
      <soap:operation soapAction="http://tempuri.org/UpdateProfilo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoCorso">
      <soap:operation soapAction="http://tempuri.org/InfoCorso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoDocente">
      <soap:operation soapAction="http://tempuri.org/InfoDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorsiFrequentati">
      <soap:operation soapAction="http://tempuri.org/CorsiFrequentati" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrato">
      <soap:operation soapAction="http://tempuri.org/Registrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ESTERNI_DOCENTI_InfoCodice">
      <soap:operation soapAction="http://tempuri.org/ESTERNI_DOCENTI_InfoCodice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaCodEsterno">
      <soap:operation soapAction="http://tempuri.org/RecuperaCodEsterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guadagni">
      <soap:operation soapAction="http://tempuri.org/Guadagni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCompetenze">
      <soap:operation soapAction="http://tempuri.org/SelectCompetenze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Controlla_Abilitazione">
      <soap:operation soapAction="http://tempuri.org/Controlla_Abilitazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Profilo_Studenti">
      <soap:operation soapAction="http://tempuri.org/Update_Profilo_Studenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_Docenti">
      <soap:operation soapAction="http://tempuri.org/SelectAll_Docenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword_Studenti">
      <soap:operation soapAction="http://tempuri.org/UpdatePassword_Studenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectForSkills">
      <soap:operation soapAction="http://tempuri.org/SelectForSkills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_Studenti">
      <soap:operation soapAction="http://tempuri.org/SelectAll_Studenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Esterni_WSSoap12" type="tns:Esterni_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAll">
      <soap12:operation soapAction="http://tempuri.org/SelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOne">
      <soap12:operation soapAction="http://tempuri.org/SelectOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOne_Profilo_Studenti">
      <soap12:operation soapAction="http://tempuri.org/SelectOne_Profilo_Studenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOne">
      <soap12:operation soapAction="http://tempuri.org/CheckOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ControlloDuplice">
      <soap12:operation soapAction="http://tempuri.org/ControlloDuplice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbilitaEsterno">
      <soap12:operation soapAction="http://tempuri.org/AbilitaEsterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TipoLogin">
      <soap12:operation soapAction="http://tempuri.org/TipoLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNome">
      <soap12:operation soapAction="http://tempuri.org/GetNome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAvatar">
      <soap12:operation soapAction="http://tempuri.org/UpdateAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilo">
      <soap12:operation soapAction="http://tempuri.org/UpdateProfilo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap12:operation soapAction="http://tempuri.org/UpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoCorso">
      <soap12:operation soapAction="http://tempuri.org/InfoCorso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoDocente">
      <soap12:operation soapAction="http://tempuri.org/InfoDocente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorsiFrequentati">
      <soap12:operation soapAction="http://tempuri.org/CorsiFrequentati" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrato">
      <soap12:operation soapAction="http://tempuri.org/Registrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ESTERNI_DOCENTI_InfoCodice">
      <soap12:operation soapAction="http://tempuri.org/ESTERNI_DOCENTI_InfoCodice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaCodEsterno">
      <soap12:operation soapAction="http://tempuri.org/RecuperaCodEsterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guadagni">
      <soap12:operation soapAction="http://tempuri.org/Guadagni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCompetenze">
      <soap12:operation soapAction="http://tempuri.org/SelectCompetenze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Controlla_Abilitazione">
      <soap12:operation soapAction="http://tempuri.org/Controlla_Abilitazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Profilo_Studenti">
      <soap12:operation soapAction="http://tempuri.org/Update_Profilo_Studenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_Docenti">
      <soap12:operation soapAction="http://tempuri.org/SelectAll_Docenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword_Studenti">
      <soap12:operation soapAction="http://tempuri.org/UpdatePassword_Studenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectForSkills">
      <soap12:operation soapAction="http://tempuri.org/SelectForSkills" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_Studenti">
      <soap12:operation soapAction="http://tempuri.org/SelectAll_Studenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Esterni_WS">
    <wsdl:port name="Esterni_WSSoap" binding="tns:Esterni_WSSoap">
      <soap:address location="http://localhost:58260/Esterni-WS.asmx" />
    </wsdl:port>
    <wsdl:port name="Esterni_WSSoap12" binding="tns:Esterni_WSSoap12">
      <soap12:address location="http://localhost:58260/Esterni-WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>