GENUNISOLUTION/GENUNI/App_WebReferences/UTENTI/Utenti-WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SelectAll">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTutor">
        <s:complexType />
      </s:element>
      <s:element name="SelectTutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectTutorResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Abilita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbilitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AbilitaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbilitaTutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbilitaTutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AbilitaTutorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Figura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Figura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="SelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="SelectTutorSoapIn">
    <wsdl:part name="parameters" element="tns:SelectTutor" />
  </wsdl:message>
  <wsdl:message name="SelectTutorSoapOut">
    <wsdl:part name="parameters" element="tns:SelectTutorResponse" />
  </wsdl:message>
  <wsdl:message name="AbilitaSoapIn">
    <wsdl:part name="parameters" element="tns:Abilita" />
  </wsdl:message>
  <wsdl:message name="AbilitaSoapOut">
    <wsdl:part name="parameters" element="tns:AbilitaResponse" />
  </wsdl:message>
  <wsdl:message name="AbilitaTutorSoapIn">
    <wsdl:part name="parameters" element="tns:AbilitaTutor" />
  </wsdl:message>
  <wsdl:message name="AbilitaTutorSoapOut">
    <wsdl:part name="parameters" element="tns:AbilitaTutorResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="Utenti_WSSoap">
    <wsdl:operation name="SelectAll">
      <wsdl:input message="tns:SelectAllSoapIn" />
      <wsdl:output message="tns:SelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectTutor">
      <wsdl:input message="tns:SelectTutorSoapIn" />
      <wsdl:output message="tns:SelectTutorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Abilita">
      <wsdl:input message="tns:AbilitaSoapIn" />
      <wsdl:output message="tns:AbilitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AbilitaTutor">
      <wsdl:input message="tns:AbilitaTutorSoapIn" />
      <wsdl:output message="tns:AbilitaTutorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Utenti_WSSoap" type="tns:Utenti_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTutor">
      <soap:operation soapAction="http://tempuri.org/SelectTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Abilita">
      <soap:operation soapAction="http://tempuri.org/Abilita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbilitaTutor">
      <soap:operation soapAction="http://tempuri.org/AbilitaTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Utenti_WSSoap12" type="tns:Utenti_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAll">
      <soap12:operation soapAction="http://tempuri.org/SelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTutor">
      <soap12:operation soapAction="http://tempuri.org/SelectTutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Abilita">
      <soap12:operation soapAction="http://tempuri.org/Abilita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbilitaTutor">
      <soap12:operation soapAction="http://tempuri.org/AbilitaTutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Utenti_WS">
    <wsdl:port name="Utenti_WSSoap" binding="tns:Utenti_WSSoap">
      <soap:address location="http://localhost:58260/Utenti-WS.asmx" />
    </wsdl:port>
    <wsdl:port name="Utenti_WSSoap12" binding="tns:Utenti_WSSoap12">
      <soap12:address location="http://localhost:58260/Utenti-WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>