GENUNISOLUTION/GENUNI/App_WebReferences/MATERIE/Materie-WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="COD_CORSO" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="COD_DOCENTE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="COSTO_DOCENTE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="INDICE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PREPARATO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ACCETTATO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATA_RISPOSTA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CHIAVE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="COD_CORSO" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="COD_DOCENTE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="COSTO_DOCENTE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="INDICE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PREPARATO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ACCETTATO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATA_RISPOSTA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="Info">
        <s:complexType />
      </s:element>
      <s:element name="InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="InfoSoapIn">
    <wsdl:part name="parameters" element="tns:Info" />
  </wsdl:message>
  <wsdl:message name="InfoSoapOut">
    <wsdl:part name="parameters" element="tns:InfoResponse" />
  </wsdl:message>
  <wsdl:portType name="Materie_WSSoap">
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Info">
      <wsdl:input message="tns:InfoSoapIn" />
      <wsdl:output message="tns:InfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Materie_WSSoap" type="tns:Materie_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Info">
      <soap:operation soapAction="http://tempuri.org/Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Materie_WSSoap12" type="tns:Materie_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Info">
      <soap12:operation soapAction="http://tempuri.org/Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Materie_WS">
    <wsdl:port name="Materie_WSSoap" binding="tns:Materie_WSSoap">
      <soap:address location="http://localhost:58260/Materie-WS.asmx" />
    </wsdl:port>
    <wsdl:port name="Materie_WSSoap12" binding="tns:Materie_WSSoap12">
      <soap12:address location="http://localhost:58260/Materie-WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>