GENUNISOLUTION/GENUNI/App_WebReferences/CONTABILITA/Contabilita-WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListaSpese">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DATAINIZIO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATAFINE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaSpeseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaSpeseResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaRicavi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DATAINIZIO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATAFINE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaRicaviResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaRicaviResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SommaSpese">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DATAINIZIO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATAFINE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SommaSpeseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SommaSpeseResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SommaRicavi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DATAINIZIO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATAFINE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SommaRicaviResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SommaRicaviResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Utili">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DATAINIZIO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATAFINE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UtiliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UtiliResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaSpeseSoapIn">
    <wsdl:part name="parameters" element="tns:ListaSpese" />
  </wsdl:message>
  <wsdl:message name="ListaSpeseSoapOut">
    <wsdl:part name="parameters" element="tns:ListaSpeseResponse" />
  </wsdl:message>
  <wsdl:message name="ListaRicaviSoapIn">
    <wsdl:part name="parameters" element="tns:ListaRicavi" />
  </wsdl:message>
  <wsdl:message name="ListaRicaviSoapOut">
    <wsdl:part name="parameters" element="tns:ListaRicaviResponse" />
  </wsdl:message>
  <wsdl:message name="SommaSpeseSoapIn">
    <wsdl:part name="parameters" element="tns:SommaSpese" />
  </wsdl:message>
  <wsdl:message name="SommaSpeseSoapOut">
    <wsdl:part name="parameters" element="tns:SommaSpeseResponse" />
  </wsdl:message>
  <wsdl:message name="SommaRicaviSoapIn">
    <wsdl:part name="parameters" element="tns:SommaRicavi" />
  </wsdl:message>
  <wsdl:message name="SommaRicaviSoapOut">
    <wsdl:part name="parameters" element="tns:SommaRicaviResponse" />
  </wsdl:message>
  <wsdl:message name="UtiliSoapIn">
    <wsdl:part name="parameters" element="tns:Utili" />
  </wsdl:message>
  <wsdl:message name="UtiliSoapOut">
    <wsdl:part name="parameters" element="tns:UtiliResponse" />
  </wsdl:message>
  <wsdl:portType name="Contabilita_WSSoap">
    <wsdl:operation name="ListaSpese">
      <wsdl:input message="tns:ListaSpeseSoapIn" />
      <wsdl:output message="tns:ListaSpeseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaRicavi">
      <wsdl:input message="tns:ListaRicaviSoapIn" />
      <wsdl:output message="tns:ListaRicaviSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SommaSpese">
      <wsdl:input message="tns:SommaSpeseSoapIn" />
      <wsdl:output message="tns:SommaSpeseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SommaRicavi">
      <wsdl:input message="tns:SommaRicaviSoapIn" />
      <wsdl:output message="tns:SommaRicaviSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Utili">
      <wsdl:input message="tns:UtiliSoapIn" />
      <wsdl:output message="tns:UtiliSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Contabilita_WSSoap" type="tns:Contabilita_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaSpese">
      <soap:operation soapAction="http://tempuri.org/ListaSpese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaRicavi">
      <soap:operation soapAction="http://tempuri.org/ListaRicavi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SommaSpese">
      <soap:operation soapAction="http://tempuri.org/SommaSpese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SommaRicavi">
      <soap:operation soapAction="http://tempuri.org/SommaRicavi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Utili">
      <soap:operation soapAction="http://tempuri.org/Utili" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Contabilita_WSSoap12" type="tns:Contabilita_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaSpese">
      <soap12:operation soapAction="http://tempuri.org/ListaSpese" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaRicavi">
      <soap12:operation soapAction="http://tempuri.org/ListaRicavi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SommaSpese">
      <soap12:operation soapAction="http://tempuri.org/SommaSpese" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SommaRicavi">
      <soap12:operation soapAction="http://tempuri.org/SommaRicavi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Utili">
      <soap12:operation soapAction="http://tempuri.org/Utili" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Contabilita_WS">
    <wsdl:port name="Contabilita_WSSoap" binding="tns:Contabilita_WSSoap">
      <soap:address location="http://localhost:58260/Contabilita-WS.asmx" />
    </wsdl:port>
    <wsdl:port name="Contabilita_WSSoap12" binding="tns:Contabilita_WSSoap12">
      <soap12:address location="http://localhost:58260/Contabilita-WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>