GENUNISOLUTION/GENUNI/App_WebReferences/MAIL/Mail-WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mailInvia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RndCodice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mailInviaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mailInviaSoapIn">
    <wsdl:part name="parameters" element="tns:mailInvia" />
  </wsdl:message>
  <wsdl:message name="mailInviaSoapOut">
    <wsdl:part name="parameters" element="tns:mailInviaResponse" />
  </wsdl:message>
  <wsdl:portType name="Mail_WSSoap">
    <wsdl:operation name="mailInvia">
      <wsdl:input message="tns:mailInviaSoapIn" />
      <wsdl:output message="tns:mailInviaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Mail_WSSoap" type="tns:Mail_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mailInvia">
      <soap:operation soapAction="http://tempuri.org/mailInvia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Mail_WSSoap12" type="tns:Mail_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mailInvia">
      <soap12:operation soapAction="http://tempuri.org/mailInvia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mail_WS">
    <wsdl:port name="Mail_WSSoap" binding="tns:Mail_WSSoap">
      <soap:address location="http://localhost:58260/Mail-WS.asmx" />
    </wsdl:port>
    <wsdl:port name="Mail_WSSoap12" binding="tns:Mail_WSSoap12">
      <soap12:address location="http://localhost:58260/Mail-WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>