GENUNISOLUTION/GENUNI/App_WebReferences/NEWSLETTER/Newsletter-WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NewsletterIscrivi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewsletterIscriviResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NewsletterIscriviSoapIn">
    <wsdl:part name="parameters" element="tns:NewsletterIscrivi" />
  </wsdl:message>
  <wsdl:message name="NewsletterIscriviSoapOut">
    <wsdl:part name="parameters" element="tns:NewsletterIscriviResponse" />
  </wsdl:message>
  <wsdl:portType name="Newsletter_WSSoap">
    <wsdl:operation name="NewsletterIscrivi">
      <wsdl:input message="tns:NewsletterIscriviSoapIn" />
      <wsdl:output message="tns:NewsletterIscriviSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Newsletter_WSSoap" type="tns:Newsletter_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewsletterIscrivi">
      <soap:operation soapAction="http://tempuri.org/NewsletterIscrivi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Newsletter_WSSoap12" type="tns:Newsletter_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewsletterIscrivi">
      <soap12:operation soapAction="http://tempuri.org/NewsletterIscrivi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Newsletter_WS">
    <wsdl:port name="Newsletter_WSSoap" binding="tns:Newsletter_WSSoap">
      <soap:address location="http://localhost:58260/Newsletter-WS.asmx" />
    </wsdl:port>
    <wsdl:port name="Newsletter_WSSoap12" binding="tns:Newsletter_WSSoap12">
      <soap12:address location="http://localhost:58260/Newsletter-WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>